<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.app.complaint.ComplaintMapper">

    <!-- 건의사항 접수 SQL -->
    <insert id="create" parameterType="com.health.app.complaint.ComplaintDTO">
        insert into h_complaint (username, gym_id, title, content, create_at)
        values (#{username}, #{gymId}, #{title}, #{content}, CURRENT_DATE)
    </insert>

    <!-- 회원의 건의사항 조회 -->
    <select id="memberList" parameterType="long" resultType="com.health.app.complaint.ComplaintDTO">
        select 
            complain_id as complainId,
            username,
            gym_id as gymId,
            title,
            content,
            create_at as createAt,
            status
        from h_complaint 
        where username = #{username}
        order by complain_id desc
    </select>

    <!-- 사장의 건의사항 조회 -->
    <select id="ownerList" parameterType="long" resultType="com.health.app.complaint.ComplaintDTO">
        select 
            complain_id as complainId,
            username,
            gym_id as gymId,
            title,
            content,
            create_at as createAt,
            status
        from h_complaint 
        where gym_id = #{gymId}
        order by complain_id desc
    </select>

    <!-- 사장의 건의사항 처리 -->
    <update id="update" parameterType="com.health.app.complaint.ComplaintDTO">
        update h_complaint
        set status = #{status}
        where complain_id = #{complainId}
    </update>

    <!-- 건의글 단건 상세 조회 (알림 작성자 타겟 확보용) -->
    <select id="getComplaintById" parameterType="Long" resultType="com.health.app.complaint.ComplaintDTO">
        select 
            complain_id as complainId,
            username,
            gym_id as gymId,
            title,
            content,
            create_at as createAt,
            status
        from h_complaint 
        where complain_id = #{complaintId}
    </select>

</mapper>